CORE-Client/src/main/resources/wsdl/core/Tbl_QLDT_HTMLReport_ParamService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tbl_QLDT_HTMLReport_ParamServiceService" targetNamespace="http://service.jwitter.lb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.jwitter.lb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.jwitter.lb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.jwitter.lb.com/">
    <xs:complexType name="tblQLDTHTMLReportParam">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="label" type="xs:string"/>
            <xs:element minOccurs="0" name="paramSql" type="xs:string"/>
            <xs:element minOccurs="0" name="paramVariable" type="xs:string"/>
            <xs:element minOccurs="0" name="reportId" type="tns:tblQLDTHTMLReport"/>
            <xs:element minOccurs="0" name="ten" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblQLDTHTMLReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="body" type="xs:string"/>
            <xs:element minOccurs="0" name="bodySql" type="xs:string"/>
            <xs:element minOccurs="0" name="css" type="xs:string"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="fileTemplate" type="xs:string"/>
            <xs:element minOccurs="0" name="footer" type="xs:string"/>
            <xs:element minOccurs="0" name="header" type="xs:string"/>
            <xs:element minOccurs="0" name="headerSql" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="javascript" type="xs:string"/>
            <xs:element minOccurs="0" name="ma" type="xs:string"/>
            <xs:element minOccurs="0" name="ten" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="conditionReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="col" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="value1" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value2" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createTbl_QLDT_HTMLReport_Param" type="tns:createTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="createTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createTbl_QLDT_HTMLReport_ParamResponse" type="tns:createTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="createTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="queryHQLTbl_QLDT_HTMLReport_Param" type="tns:queryHQLTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="queryHQLTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:string"/>
            <xs:element name="arg1" type="xs:int"/>
            <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="queryHQLTbl_QLDT_HTMLReport_ParamResponse" type="tns:queryHQLTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="queryHQLTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAllTbl_QLDT_HTMLReport_Param" type="tns:findAllTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="findAllTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
            <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAllTbl_QLDT_HTMLReport_ParamResponse" type="tns:findAllTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="findAllTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findColumnTbl_QLDT_HTMLReport_ParamByCondition" type="tns:findColumnTbl_QLDT_HTMLReport_ParamByCondition"/>
    <xs:complexType name="findColumnTbl_QLDT_HTMLReport_ParamByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
            <xs:element name="arg2" type="xs:int"/>
            <xs:element name="arg3" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse" type="tns:findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse"/>
    <xs:complexType name="findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListTbl_QLDT_HTMLReport_Param" type="tns:deleteListTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="deleteListTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListTbl_QLDT_HTMLReport_ParamResponse" type="tns:deleteListTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="deleteListTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="deleteTbl_QLDT_HTMLReport_Param" type="tns:deleteTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="deleteTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteTbl_QLDT_HTMLReport_ParamResponse" type="tns:deleteTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="deleteTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="countTbl_QLDT_HTMLReport_ParamByCondition" type="tns:countTbl_QLDT_HTMLReport_ParamByCondition"/>
    <xs:complexType name="countTbl_QLDT_HTMLReport_ParamByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="countTbl_QLDT_HTMLReport_ParamByConditionResponse" type="tns:countTbl_QLDT_HTMLReport_ParamByConditionResponse"/>
    <xs:complexType name="countTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getTbl_QLDT_HTMLReport_Param" type="tns:getTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="getTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getTbl_QLDT_HTMLReport_ParamResponse" type="tns:getTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="getTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findTbl_QLDT_HTMLReport_ParamByCondition" type="tns:findTbl_QLDT_HTMLReport_ParamByCondition"/>
    <xs:complexType name="findTbl_QLDT_HTMLReport_ParamByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
            <xs:element name="arg1" type="xs:int"/>
            <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findTbl_QLDT_HTMLReport_ParamByConditionResponse" type="tns:findTbl_QLDT_HTMLReport_ParamByConditionResponse"/>
    <xs:complexType name="findTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updateTbl_QLDT_HTMLReport_Param" type="tns:updateTbl_QLDT_HTMLReport_Param"/>
    <xs:complexType name="updateTbl_QLDT_HTMLReport_Param">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblQLDTHTMLReportParam"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updateTbl_QLDT_HTMLReport_ParamResponse" type="tns:updateTbl_QLDT_HTMLReport_ParamResponse"/>
    <xs:complexType name="updateTbl_QLDT_HTMLReport_ParamResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findColumnTbl_QLDT_HTMLReport_ParamByCondition">
    <wsdl:part name="parameters" element="tns:findColumnTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:deleteTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countTbl_QLDT_HTMLReport_ParamByConditionResponse">
    <wsdl:part name="parameters" element="tns:countTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:updateTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:createTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTbl_QLDT_HTMLReport_ParamByConditionResponse">
    <wsdl:part name="parameters" element="tns:findTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:findAllTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:getTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:findAllTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTbl_QLDT_HTMLReport_ParamByCondition">
    <wsdl:part name="parameters" element="tns:findTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryHQLTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:queryHQLTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countTbl_QLDT_HTMLReport_ParamByCondition">
    <wsdl:part name="parameters" element="tns:countTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse">
    <wsdl:part name="parameters" element="tns:findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:deleteListTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:deleteListTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:updateTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryHQLTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:queryHQLTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:createTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTbl_QLDT_HTMLReport_ParamResponse">
    <wsdl:part name="parameters" element="tns:getTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTbl_QLDT_HTMLReport_Param">
    <wsdl:part name="parameters" element="tns:deleteTbl_QLDT_HTMLReport_Param">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tbl_QLDT_HTMLReport_ParamService">
    <wsdl:operation name="createTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="createTbl_QLDT_HTMLReport_Param" message="tns:createTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="createTbl_QLDT_HTMLReport_ParamResponse" message="tns:createTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryHQLTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="queryHQLTbl_QLDT_HTMLReport_Param" message="tns:queryHQLTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="queryHQLTbl_QLDT_HTMLReport_ParamResponse" message="tns:queryHQLTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="findAllTbl_QLDT_HTMLReport_Param" message="tns:findAllTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="findAllTbl_QLDT_HTMLReport_ParamResponse" message="tns:findAllTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findColumnTbl_QLDT_HTMLReport_ParamByCondition">
      <wsdl:input name="findColumnTbl_QLDT_HTMLReport_ParamByCondition" message="tns:findColumnTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:input>
      <wsdl:output name="findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse" message="tns:findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="deleteListTbl_QLDT_HTMLReport_Param" message="tns:deleteListTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="deleteListTbl_QLDT_HTMLReport_ParamResponse" message="tns:deleteListTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="deleteTbl_QLDT_HTMLReport_Param" message="tns:deleteTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="deleteTbl_QLDT_HTMLReport_ParamResponse" message="tns:deleteTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countTbl_QLDT_HTMLReport_ParamByCondition">
      <wsdl:input name="countTbl_QLDT_HTMLReport_ParamByCondition" message="tns:countTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:input>
      <wsdl:output name="countTbl_QLDT_HTMLReport_ParamByConditionResponse" message="tns:countTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="getTbl_QLDT_HTMLReport_Param" message="tns:getTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="getTbl_QLDT_HTMLReport_ParamResponse" message="tns:getTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findTbl_QLDT_HTMLReport_ParamByCondition">
      <wsdl:input name="findTbl_QLDT_HTMLReport_ParamByCondition" message="tns:findTbl_QLDT_HTMLReport_ParamByCondition">
    </wsdl:input>
      <wsdl:output name="findTbl_QLDT_HTMLReport_ParamByConditionResponse" message="tns:findTbl_QLDT_HTMLReport_ParamByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTbl_QLDT_HTMLReport_Param">
      <wsdl:input name="updateTbl_QLDT_HTMLReport_Param" message="tns:updateTbl_QLDT_HTMLReport_Param">
    </wsdl:input>
      <wsdl:output name="updateTbl_QLDT_HTMLReport_ParamResponse" message="tns:updateTbl_QLDT_HTMLReport_ParamResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tbl_QLDT_HTMLReport_ParamServiceServiceSoapBinding" type="tns:Tbl_QLDT_HTMLReport_ParamService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryHQLTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="queryHQLTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryHQLTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAllTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findColumnTbl_QLDT_HTMLReport_ParamByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findColumnTbl_QLDT_HTMLReport_ParamByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findColumnTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteListTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countTbl_QLDT_HTMLReport_ParamByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countTbl_QLDT_HTMLReport_ParamByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findTbl_QLDT_HTMLReport_ParamByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findTbl_QLDT_HTMLReport_ParamByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findTbl_QLDT_HTMLReport_ParamByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTbl_QLDT_HTMLReport_Param">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateTbl_QLDT_HTMLReport_Param">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateTbl_QLDT_HTMLReport_ParamResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tbl_QLDT_HTMLReport_ParamServiceService">
    <wsdl:port name="Tbl_QLDT_HTMLReport_ParamServicePort" binding="tns:Tbl_QLDT_HTMLReport_ParamServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
