CORE-Client/src/main/resources/wsdl/core/Tbl_QLDT_LogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tbl_QLDT_LogServiceService" targetNamespace="http://service.jwitter.lb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.jwitter.lb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://service.jwitter.lb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.jwitter.lb.com/">
    <xs:complexType name="tblQLDTLog">
        <xs:sequence>
            <xs:element minOccurs="0" name="dataId" type="xs:long"/>
            <xs:element minOccurs="0" name="description" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="newData" type="xs:string"/>
            <xs:element minOccurs="0" name="oldData" type="xs:string"/>
            <xs:element minOccurs="0" name="op" type="xs:string"/>
            <xs:element minOccurs="0" name="tableName" type="xs:string"/>
            <xs:element minOccurs="0" name="timeLog" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="username" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="conditionReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="col" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="value1" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value2" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAlltbl_QLDT_Log" type="findAlltbl_QLDT_Log"/>
    <xs:complexType name="findAlltbl_QLDT_Log">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
            <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAlltbl_QLDT_LogResponse" type="findAlltbl_QLDT_LogResponse"/>
    <xs:complexType name="findAlltbl_QLDT_LogResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tblQLDTLog"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createtbl_QLDT_Log" type="createtbl_QLDT_Log"/>
    <xs:complexType name="createtbl_QLDT_Log">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tblQLDTLog"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createtbl_QLDT_LogResponse" type="createtbl_QLDT_LogResponse"/>
    <xs:complexType name="createtbl_QLDT_LogResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deletetbl_QLDT_Log" type="deletetbl_QLDT_Log"/>
    <xs:complexType name="deletetbl_QLDT_Log">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deletetbl_QLDT_LogResponse" type="deletetbl_QLDT_LogResponse"/>
    <xs:complexType name="deletetbl_QLDT_LogResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="gettbl_QLDT_Log" type="gettbl_QLDT_Log"/>
    <xs:complexType name="gettbl_QLDT_Log">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="gettbl_QLDT_LogResponse" type="gettbl_QLDT_LogResponse"/>
    <xs:complexType name="gettbl_QLDT_LogResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tblQLDTLog"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_QLDT_LogByCondition" type="findtbl_QLDT_LogByCondition"/>
    <xs:complexType name="findtbl_QLDT_LogByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="conditionReport"/>
            <xs:element name="arg1" type="xs:int"/>
            <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_QLDT_LogByConditionResponse" type="findtbl_QLDT_LogByConditionResponse"/>
    <xs:complexType name="findtbl_QLDT_LogByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tblQLDTLog"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findColumntbl_QLDT_LogByCondition" type="findColumntbl_QLDT_LogByCondition"/>
    <xs:complexType name="findColumntbl_QLDT_LogByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="conditionReport"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg1" type="xs:string"/>
            <xs:element name="arg2" type="xs:int"/>
            <xs:element name="arg3" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findColumntbl_QLDT_LogByConditionResponse" type="findColumntbl_QLDT_LogByConditionResponse"/>
    <xs:complexType name="findColumntbl_QLDT_LogByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_QLDT_Log" type="deleteListtbl_QLDT_Log"/>
    <xs:complexType name="deleteListtbl_QLDT_Log">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_QLDT_LogResponse" type="deleteListtbl_QLDT_LogResponse"/>
    <xs:complexType name="deleteListtbl_QLDT_LogResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="counttbl_QLDT_LogByCondition" type="counttbl_QLDT_LogByCondition"/>
    <xs:complexType name="counttbl_QLDT_LogByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="conditionReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="counttbl_QLDT_LogByConditionResponse" type="counttbl_QLDT_LogByConditionResponse"/>
    <xs:complexType name="counttbl_QLDT_LogByConditionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_QLDT_Log" type="updatetbl_QLDT_Log"/>
    <xs:complexType name="updatetbl_QLDT_Log">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tblQLDTLog"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_QLDT_LogResponse" type="updatetbl_QLDT_LogResponse"/>
    <xs:complexType name="updatetbl_QLDT_LogResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="createtbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:createtbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAlltbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:findAlltbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createtbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:createtbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:deletetbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_QLDT_LogByCondition">
    <wsdl:part name="parameters" element="tns:findtbl_QLDT_LogByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="counttbl_QLDT_LogByCondition">
    <wsdl:part name="parameters" element="tns:counttbl_QLDT_LogByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:updatetbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="counttbl_QLDT_LogByConditionResponse">
    <wsdl:part name="parameters" element="tns:counttbl_QLDT_LogByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:updatetbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAlltbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:findAlltbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:deletetbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:gettbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_QLDT_LogByConditionResponse">
    <wsdl:part name="parameters" element="tns:findtbl_QLDT_LogByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:deleteListtbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_QLDT_Log">
    <wsdl:part name="parameters" element="tns:gettbl_QLDT_Log">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_QLDT_LogResponse">
    <wsdl:part name="parameters" element="tns:deleteListtbl_QLDT_LogResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findColumntbl_QLDT_LogByCondition">
    <wsdl:part name="parameters" element="tns:findColumntbl_QLDT_LogByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findColumntbl_QLDT_LogByConditionResponse">
    <wsdl:part name="parameters" element="tns:findColumntbl_QLDT_LogByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tbl_QLDT_LogService">
    <wsdl:operation name="findAlltbl_QLDT_Log">
      <wsdl:input name="findAlltbl_QLDT_Log" message="tns:findAlltbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="findAlltbl_QLDT_LogResponse" message="tns:findAlltbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createtbl_QLDT_Log">
      <wsdl:input name="createtbl_QLDT_Log" message="tns:createtbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="createtbl_QLDT_LogResponse" message="tns:createtbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_QLDT_Log">
      <wsdl:input name="deletetbl_QLDT_Log" message="tns:deletetbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="deletetbl_QLDT_LogResponse" message="tns:deletetbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettbl_QLDT_Log">
      <wsdl:input name="gettbl_QLDT_Log" message="tns:gettbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="gettbl_QLDT_LogResponse" message="tns:gettbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_QLDT_LogByCondition">
      <wsdl:input name="findtbl_QLDT_LogByCondition" message="tns:findtbl_QLDT_LogByCondition">
    </wsdl:input>
      <wsdl:output name="findtbl_QLDT_LogByConditionResponse" message="tns:findtbl_QLDT_LogByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findColumntbl_QLDT_LogByCondition">
      <wsdl:input name="findColumntbl_QLDT_LogByCondition" message="tns:findColumntbl_QLDT_LogByCondition">
    </wsdl:input>
      <wsdl:output name="findColumntbl_QLDT_LogByConditionResponse" message="tns:findColumntbl_QLDT_LogByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_QLDT_Log">
      <wsdl:input name="deleteListtbl_QLDT_Log" message="tns:deleteListtbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="deleteListtbl_QLDT_LogResponse" message="tns:deleteListtbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_QLDT_LogByCondition">
      <wsdl:input name="counttbl_QLDT_LogByCondition" message="tns:counttbl_QLDT_LogByCondition">
    </wsdl:input>
      <wsdl:output name="counttbl_QLDT_LogByConditionResponse" message="tns:counttbl_QLDT_LogByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_QLDT_Log">
      <wsdl:input name="updatetbl_QLDT_Log" message="tns:updatetbl_QLDT_Log">
    </wsdl:input>
      <wsdl:output name="updatetbl_QLDT_LogResponse" message="tns:updatetbl_QLDT_LogResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tbl_QLDT_LogServiceServiceSoapBinding" type="tns:Tbl_QLDT_LogService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findAlltbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAlltbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAlltbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createtbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createtbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createtbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletetbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletetbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="gettbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="gettbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_QLDT_LogByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findtbl_QLDT_LogByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findtbl_QLDT_LogByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findColumntbl_QLDT_LogByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findColumntbl_QLDT_LogByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findColumntbl_QLDT_LogByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteListtbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListtbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_QLDT_LogByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="counttbl_QLDT_LogByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="counttbl_QLDT_LogByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_QLDT_Log">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatetbl_QLDT_Log">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatetbl_QLDT_LogResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tbl_QLDT_LogServiceService">
    <wsdl:port name="Tbl_QLDT_LogServicePort" binding="tns:Tbl_QLDT_LogServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
