CORE-Client/src/main/resources/wsdl/core/Tbl_TaiKhoanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tbl_TaiKhoanServiceService" targetNamespace="http://service.jwitter.lb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.jwitter.lb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.jwitter.lb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.jwitter.lb.com/">
    <xs:complexType name="tblTaiKhoan">
        <xs:sequence>
            <xs:element minOccurs="0" name="canBoId" type="tns:tblCanBo"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="maNhomQuyen" type="tns:tblNhomQuyen"/>
            <xs:element minOccurs="0" name="password" type="xs:string"/>
            <xs:element minOccurs="0" name="username" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblCanBo">
        <xs:sequence>
            <xs:element minOccurs="0" name="diaChi" type="xs:string"/>
            <xs:element minOccurs="0" name="dienThoai" type="xs:string"/>
            <xs:element minOccurs="0" name="donViId" type="tns:tblDonVi"/>
            <xs:element minOccurs="0" name="ghiChu" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="maQuanLy" type="xs:string"/>
            <xs:element minOccurs="0" name="ngaySinh" type="xs:dateTime"/>
            <xs:element minOccurs="0" name="ngheNghiep" type="xs:string"/>
            <xs:element minOccurs="0" name="noiLam" type="xs:string"/>
            <xs:element minOccurs="0" name="noiSinh" type="xs:string"/>
            <xs:element minOccurs="0" name="ten" type="xs:string"/>
            <xs:element minOccurs="0" name="trinhDo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblDonVi">
        <xs:sequence>
            <xs:element minOccurs="0" name="diaChi" type="xs:string"/>
            <xs:element minOccurs="0" name="donViChaId" type="tns:tblDonVi"/>
            <xs:element minOccurs="0" name="email" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="ma" type="xs:string"/>
            <xs:element minOccurs="0" name="sdt" type="xs:string"/>
            <xs:element minOccurs="0" name="ten" type="xs:string"/>
            <xs:element minOccurs="0" name="truongDonVi" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblNhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="defaultPage" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="tenNhomQuyen" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="conditionReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="col" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="value1" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value2" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="gettbl_TaiKhoan" type="tns:gettbl_TaiKhoan"/>
    <xs:complexType name="gettbl_TaiKhoan">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="gettbl_TaiKhoanResponse" type="tns:gettbl_TaiKhoanResponse"/>
    <xs:complexType name="gettbl_TaiKhoanResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:tblTaiKhoan"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deletetbl_TaiKhoan" type="tns:deletetbl_TaiKhoan"/>
    <xs:complexType name="deletetbl_TaiKhoan">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deletetbl_TaiKhoanResponse" type="tns:deletetbl_TaiKhoanResponse"/>
    <xs:complexType name="deletetbl_TaiKhoanResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="createtbl_TaiKhoan" type="tns:createtbl_TaiKhoan"/>
    <xs:complexType name="createtbl_TaiKhoan">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblTaiKhoan"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createtbl_TaiKhoanResponse" type="tns:createtbl_TaiKhoanResponse"/>
    <xs:complexType name="createtbl_TaiKhoanResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_TaiKhoanByCondition" type="tns:findtbl_TaiKhoanByCondition"/>
    <xs:complexType name="findtbl_TaiKhoanByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
            <xs:element name="arg1" type="xs:int"/>
            <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_TaiKhoanByConditionResponse" type="tns:findtbl_TaiKhoanByConditionResponse"/>
    <xs:complexType name="findtbl_TaiKhoanByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblTaiKhoan"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="counttbl_TaiKhoanByCondition" type="tns:counttbl_TaiKhoanByCondition"/>
    <xs:complexType name="counttbl_TaiKhoanByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="counttbl_TaiKhoanByConditionResponse" type="tns:counttbl_TaiKhoanByConditionResponse"/>
    <xs:complexType name="counttbl_TaiKhoanByConditionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_TaiKhoan" type="tns:deleteListtbl_TaiKhoan"/>
    <xs:complexType name="deleteListtbl_TaiKhoan">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_TaiKhoanResponse" type="tns:deleteListtbl_TaiKhoanResponse"/>
    <xs:complexType name="deleteListtbl_TaiKhoanResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="findAlltbl_TaiKhoan" type="tns:findAlltbl_TaiKhoan"/>
    <xs:complexType name="findAlltbl_TaiKhoan">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
            <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAlltbl_TaiKhoanResponse" type="tns:findAlltbl_TaiKhoanResponse"/>
    <xs:complexType name="findAlltbl_TaiKhoanResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblTaiKhoan"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_TaiKhoan" type="tns:updatetbl_TaiKhoan"/>
    <xs:complexType name="updatetbl_TaiKhoan">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblTaiKhoan"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_TaiKhoanResponse" type="tns:updatetbl_TaiKhoanResponse"/>
    <xs:complexType name="updatetbl_TaiKhoanResponse">
        <xs:sequence/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="counttbl_TaiKhoanByCondition">
    <wsdl:part name="parameters" element="tns:counttbl_TaiKhoanByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:deletetbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="counttbl_TaiKhoanByConditionResponse">
    <wsdl:part name="parameters" element="tns:counttbl_TaiKhoanByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:updatetbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:gettbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAlltbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:findAlltbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:deleteListtbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createtbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:createtbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:deleteListtbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createtbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:createtbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_TaiKhoanByConditionResponse">
    <wsdl:part name="parameters" element="tns:findtbl_TaiKhoanByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_TaiKhoanByCondition">
    <wsdl:part name="parameters" element="tns:findtbl_TaiKhoanByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_TaiKhoan">
    <wsdl:part name="parameters" element="tns:gettbl_TaiKhoan">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:deletetbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAlltbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:findAlltbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_TaiKhoanResponse">
    <wsdl:part name="parameters" element="tns:updatetbl_TaiKhoanResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tbl_TaiKhoanService">
    <wsdl:operation name="gettbl_TaiKhoan">
      <wsdl:input name="gettbl_TaiKhoan" message="tns:gettbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="gettbl_TaiKhoanResponse" message="tns:gettbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_TaiKhoan">
      <wsdl:input name="deletetbl_TaiKhoan" message="tns:deletetbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="deletetbl_TaiKhoanResponse" message="tns:deletetbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createtbl_TaiKhoan">
      <wsdl:input name="createtbl_TaiKhoan" message="tns:createtbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="createtbl_TaiKhoanResponse" message="tns:createtbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_TaiKhoanByCondition">
      <wsdl:input name="findtbl_TaiKhoanByCondition" message="tns:findtbl_TaiKhoanByCondition">
    </wsdl:input>
      <wsdl:output name="findtbl_TaiKhoanByConditionResponse" message="tns:findtbl_TaiKhoanByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_TaiKhoanByCondition">
      <wsdl:input name="counttbl_TaiKhoanByCondition" message="tns:counttbl_TaiKhoanByCondition">
    </wsdl:input>
      <wsdl:output name="counttbl_TaiKhoanByConditionResponse" message="tns:counttbl_TaiKhoanByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_TaiKhoan">
      <wsdl:input name="deleteListtbl_TaiKhoan" message="tns:deleteListtbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="deleteListtbl_TaiKhoanResponse" message="tns:deleteListtbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAlltbl_TaiKhoan">
      <wsdl:input name="findAlltbl_TaiKhoan" message="tns:findAlltbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="findAlltbl_TaiKhoanResponse" message="tns:findAlltbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_TaiKhoan">
      <wsdl:input name="updatetbl_TaiKhoan" message="tns:updatetbl_TaiKhoan">
    </wsdl:input>
      <wsdl:output name="updatetbl_TaiKhoanResponse" message="tns:updatetbl_TaiKhoanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tbl_TaiKhoanServiceServiceSoapBinding" type="tns:Tbl_TaiKhoanService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createtbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createtbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createtbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletetbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletetbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="gettbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="gettbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_TaiKhoanByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findtbl_TaiKhoanByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findtbl_TaiKhoanByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_TaiKhoanByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="counttbl_TaiKhoanByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="counttbl_TaiKhoanByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteListtbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListtbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAlltbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAlltbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAlltbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_TaiKhoan">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatetbl_TaiKhoan">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatetbl_TaiKhoanResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tbl_TaiKhoanServiceService">
    <wsdl:port name="Tbl_TaiKhoanServicePort" binding="tns:Tbl_TaiKhoanServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
