CORE-Client/src/main/resources/wsdl/core/Tbl_Quyen_NhomQuyenService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Tbl_Quyen_NhomQuyenServiceService" targetNamespace="http://service.jwitter.lb.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.jwitter.lb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.jwitter.lb.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.jwitter.lb.com/">
    <xs:complexType name="tblQuyenNhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="maNhomQuyen" type="tns:tblNhomQuyen"/>
            <xs:element minOccurs="0" name="maQuyen" type="tns:tblQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblNhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="defaultPage" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="tenNhomQuyen" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tblQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="ghiChu" type="xs:string"/>
            <xs:element minOccurs="0" name="id" type="xs:long"/>
            <xs:element minOccurs="0" name="ten" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="conditionReport">
        <xs:sequence>
            <xs:element minOccurs="0" name="col" type="xs:string"/>
            <xs:element minOccurs="0" name="operator" type="xs:string"/>
            <xs:element minOccurs="0" name="type" type="xs:string"/>
            <xs:element minOccurs="0" name="value1" type="xs:anyType"/>
            <xs:element minOccurs="0" name="value2" type="xs:anyType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createtbl_Quyen_NhomQuyen" type="tns:createtbl_Quyen_NhomQuyen"/>
    <xs:complexType name="createtbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblQuyenNhomQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="createtbl_Quyen_NhomQuyenResponse" type="tns:createtbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="createtbl_Quyen_NhomQuyenResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAlltbl_Quyen_NhomQuyen" type="tns:findAlltbl_Quyen_NhomQuyen"/>
    <xs:complexType name="findAlltbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element name="arg0" type="xs:int"/>
            <xs:element name="arg1" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findAlltbl_Quyen_NhomQuyenResponse" type="tns:findAlltbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="findAlltbl_Quyen_NhomQuyenResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblQuyenNhomQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_Quyen_NhomQuyen" type="tns:updatetbl_Quyen_NhomQuyen"/>
    <xs:complexType name="updatetbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="tns:tblQuyenNhomQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="updatetbl_Quyen_NhomQuyenResponse" type="tns:updatetbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="updatetbl_Quyen_NhomQuyenResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="gettbl_Quyen_NhomQuyen" type="tns:gettbl_Quyen_NhomQuyen"/>
    <xs:complexType name="gettbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="gettbl_Quyen_NhomQuyenResponse" type="tns:gettbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="gettbl_Quyen_NhomQuyenResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="return" type="tns:tblQuyenNhomQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_Quyen_NhomQuyenByCondition" type="tns:findtbl_Quyen_NhomQuyenByCondition"/>
    <xs:complexType name="findtbl_Quyen_NhomQuyenByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
            <xs:element name="arg1" type="xs:int"/>
            <xs:element name="arg2" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="findtbl_Quyen_NhomQuyenByConditionResponse" type="tns:findtbl_Quyen_NhomQuyenByConditionResponse"/>
    <xs:complexType name="findtbl_Quyen_NhomQuyenByConditionResponse">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tblQuyenNhomQuyen"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_Quyen_NhomQuyen" type="tns:deleteListtbl_Quyen_NhomQuyen"/>
    <xs:complexType name="deleteListtbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deleteListtbl_Quyen_NhomQuyenResponse" type="tns:deleteListtbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="deleteListtbl_Quyen_NhomQuyenResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="deletetbl_Quyen_NhomQuyen" type="tns:deletetbl_Quyen_NhomQuyen"/>
    <xs:complexType name="deletetbl_Quyen_NhomQuyen">
        <xs:sequence>
            <xs:element minOccurs="0" name="arg0" type="xs:long"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="deletetbl_Quyen_NhomQuyenResponse" type="tns:deletetbl_Quyen_NhomQuyenResponse"/>
    <xs:complexType name="deletetbl_Quyen_NhomQuyenResponse">
        <xs:sequence/>
    </xs:complexType>
    <xs:element name="counttbl_Quyen_NhomQuyenByCondition" type="tns:counttbl_Quyen_NhomQuyenByCondition"/>
    <xs:complexType name="counttbl_Quyen_NhomQuyenByCondition">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:conditionReport"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="counttbl_Quyen_NhomQuyenByConditionResponse" type="tns:counttbl_Quyen_NhomQuyenByConditionResponse"/>
    <xs:complexType name="counttbl_Quyen_NhomQuyenByConditionResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="findAlltbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:findAlltbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_Quyen_NhomQuyenByCondition">
    <wsdl:part name="parameters" element="tns:findtbl_Quyen_NhomQuyenByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:updatetbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createtbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:createtbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAlltbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:findAlltbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:deleteListtbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createtbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:createtbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteListtbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:deleteListtbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:gettbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:deletetbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="counttbl_Quyen_NhomQuyenByCondition">
    <wsdl:part name="parameters" element="tns:counttbl_Quyen_NhomQuyenByCondition">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updatetbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:updatetbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="counttbl_Quyen_NhomQuyenByConditionResponse">
    <wsdl:part name="parameters" element="tns:counttbl_Quyen_NhomQuyenByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deletetbl_Quyen_NhomQuyenResponse">
    <wsdl:part name="parameters" element="tns:deletetbl_Quyen_NhomQuyenResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="gettbl_Quyen_NhomQuyen">
    <wsdl:part name="parameters" element="tns:gettbl_Quyen_NhomQuyen">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findtbl_Quyen_NhomQuyenByConditionResponse">
    <wsdl:part name="parameters" element="tns:findtbl_Quyen_NhomQuyenByConditionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Tbl_Quyen_NhomQuyenService">
    <wsdl:operation name="createtbl_Quyen_NhomQuyen">
      <wsdl:input name="createtbl_Quyen_NhomQuyen" message="tns:createtbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="createtbl_Quyen_NhomQuyenResponse" message="tns:createtbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAlltbl_Quyen_NhomQuyen">
      <wsdl:input name="findAlltbl_Quyen_NhomQuyen" message="tns:findAlltbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="findAlltbl_Quyen_NhomQuyenResponse" message="tns:findAlltbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_Quyen_NhomQuyen">
      <wsdl:input name="updatetbl_Quyen_NhomQuyen" message="tns:updatetbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="updatetbl_Quyen_NhomQuyenResponse" message="tns:updatetbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettbl_Quyen_NhomQuyen">
      <wsdl:input name="gettbl_Quyen_NhomQuyen" message="tns:gettbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="gettbl_Quyen_NhomQuyenResponse" message="tns:gettbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_Quyen_NhomQuyenByCondition">
      <wsdl:input name="findtbl_Quyen_NhomQuyenByCondition" message="tns:findtbl_Quyen_NhomQuyenByCondition">
    </wsdl:input>
      <wsdl:output name="findtbl_Quyen_NhomQuyenByConditionResponse" message="tns:findtbl_Quyen_NhomQuyenByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_Quyen_NhomQuyen">
      <wsdl:input name="deleteListtbl_Quyen_NhomQuyen" message="tns:deleteListtbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="deleteListtbl_Quyen_NhomQuyenResponse" message="tns:deleteListtbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_Quyen_NhomQuyen">
      <wsdl:input name="deletetbl_Quyen_NhomQuyen" message="tns:deletetbl_Quyen_NhomQuyen">
    </wsdl:input>
      <wsdl:output name="deletetbl_Quyen_NhomQuyenResponse" message="tns:deletetbl_Quyen_NhomQuyenResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_Quyen_NhomQuyenByCondition">
      <wsdl:input name="counttbl_Quyen_NhomQuyenByCondition" message="tns:counttbl_Quyen_NhomQuyenByCondition">
    </wsdl:input>
      <wsdl:output name="counttbl_Quyen_NhomQuyenByConditionResponse" message="tns:counttbl_Quyen_NhomQuyenByConditionResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Tbl_Quyen_NhomQuyenServiceServiceSoapBinding" type="tns:Tbl_Quyen_NhomQuyenService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createtbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createtbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createtbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAlltbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAlltbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAlltbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatetbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updatetbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updatetbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="gettbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="gettbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteListtbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteListtbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteListtbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findtbl_Quyen_NhomQuyenByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findtbl_Quyen_NhomQuyenByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findtbl_Quyen_NhomQuyenByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletetbl_Quyen_NhomQuyen">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deletetbl_Quyen_NhomQuyen">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deletetbl_Quyen_NhomQuyenResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="counttbl_Quyen_NhomQuyenByCondition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="counttbl_Quyen_NhomQuyenByCondition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="counttbl_Quyen_NhomQuyenByConditionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tbl_Quyen_NhomQuyenServiceService">
    <wsdl:port name="Tbl_Quyen_NhomQuyenServicePort" binding="tns:Tbl_Quyen_NhomQuyenServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/hello"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
